/testbox
/tests/results
/tests/resources/app/coldbox
/node_modules
/modules

!.engine/
.engine/*
!.engine/WEB-INF/
.engine/WEB-INF/*
!.engine/WEB-INF/lib
.engine/WEB-INF/lib/*
!.engine/WEB-INF/lib/h2-1.4.196.jar