name: Cron

on:
  schedule:
    - cron:  0 0 * * 1

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests
    strategy:
      fail-fast: true
      matrix:
        cfengine: ["lucee@5", "lucee@be", "adobe@2016", "adobe@2018", "adobe@be"]
        coldbox: ["coldbox@5", "coldbox@6", "coldbox@be"]
        javaVersion: ["openjdk8", "openjdk11"]
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_RANDOM_ROOT_PASSWORD: yes
          MYSQL_USER: quick
          MYSQL_PASSWORD: quick
          MYSQL_DATABASE: quick
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Java JDK
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11 

      - name: Set Up CommandBox
        uses: elpete/setup-commandbox@v1.0.0
      
      - name: Install dependencies
        run: |
          box install
          box config set modules.commandbox-dotenv.checkEnvPreServerStart=false
          box install ${{ matrix.coldbox }} --noSave
      
      - name: Start server
        env:
          DB_HOST: localhost
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
          DB_NAME: quick
          DB_USER: quick
          DB_PASSWORD: quick
        run: box server start cfengine=${{ matrix.cfengine }} javaVersion=${{ matrix.javaVersion }}

      - name: Run TestBox Tests
        env:
          DB_HOST: localhost
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
          DB_NAME: quick
          DB_USER: quick
          DB_PASSWORD: quick
        run: box testbox run